@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

h1 {
    margin: 0;
}

.container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width:  250px;
    background-color: rgb(25, 0, 49);
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}
#title {
    text-align: center;
}

.title {
    font-family: 'Secular One', sans-serif;
}

#color-selector {
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    flex-grow: 1;
}

.color-box, .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer {
    font-size: 0.7rem;
    text-align: center;
}